.my-houses{
  background-color: rgb(199, 128, 128);
  border-radius: 15px;
  overflow-y: scroll;
  height: 600px;
}
.my-houses::-webkit-scrollbar{
  display: none;
}
.search{
  padding: 10px;
  margin: 50px;
  // background-color: white;
}
.search a{
  text-decoration: none;
  color: white;
}
.post-house{
  background-color: yellow;
}
.booked-section {
  min-height: 100px;
}
.booked-image-size {
  width: 100px;
}

.booked-card {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.booked-card:hover {
  background-color: #e6100536 ;
  transition: 0.5s;
}
