.my-houses{
  background-color: white;
  border-radius: 15px;
}
.search{
  padding: 10px;
  margin: 50px;
  // background-color: white;
}
.search a{
  text-decoration: none;

}
.post-house{
  background-color: yellow;
}
