// Specific CSS for your home-page
body{
  background-color: white;
}
.landing-background{
  background-image: url(landing_background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 80%;
  height: 545px;
  border-radius: 15px 15px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: -3px 6px 5px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: -3px 6px 5px -4px rgba(0,0,0,0.3);
  box-shadow: -3px 6px 5px -4px rgba(0,0,0,0.3);

}
.landing-background h1{
  font-family: 'Poppins', sans-serif;
  color: rgb(196, 83, 83);
}
.landing-size{
  margin-top: 70px;
  width: 100%;
  height: 545px;
}
.fill-vertical1{

}


.fill-vertical2{
  border-radius: 0 15px 15px 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: 6px 6px 5px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 6px 6px 5px -4px rgba(0,0,0,0.3);
  box-shadow: 6px 6px 5px -4px rgba(0,0,0,0.3);
}

.card-category {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 70px;
      transition: 1.5s;
    }
}
.hidden-text {
  opacity: 0;
}
