<div class="container">
  <h1>My Notifications</h1>
  <ul>
    <% @notifications.each do |notification| %>
      <li>
        <p><%= notification.content %></p>
      </li>
    <% end %>
  </ul>
</div>
