<div class="container" data-controller="booking-confirmation">
  <h1 data-booking-confirmation-target="testing">My Notifications</h1>
  <ul>
    <% @notifications.each do |notification| %>
      <li>
        <div class="d-flex align-items-center">
          <p class="mb-0 me-5"><%= notification.content %> for <%= pluralize  notification.nights, "night" %>. </p>
          <%= link_to "Accept", class:"btn btn-primary" %>

        </div>
      </li>
    <% end %>
  </ul>
</div>
