<%= turbo_stream_from "notifications" %>
<div class="container p-4" >
  <h1>My Notifications</h1>
  <ul>
    <% @notifications.each do |notification| %>
      <%= render "notifications/notification", notification: notification  %>
    <% end %>
  </ul>
</div>
