<div class="container">
  <h1>My Notifications</h1>
  <ul>
    <% @notifications.each do |notification| %>
      <li>
        <div class="d-flex align-items-center">
          <p class="mb-0 me-5"><%= notification.content %></p>
          <p class="mb-0">Accept <%= check_box_tag "accept" %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
