<h1 class="text-center">User dashboard</h1>
<div class="container d-flex justify-content-between">
  <% if current_user.houses.size > 0  %>
    <div>
      <h3>My Houses for Hosting</h3>
      <div class="row">
        <% current_user.houses.each do |house|  %>
          <div class="col-sm-12">
            <div class="card my-3" style="width: 18rem;">
              <%= image_tag "house_placeholder.png", width: "500px", class: "card-img-top" %>
              <div class="card-title">
                <h5><%= house.name %></h5>
              </div>
              <%= link_to "See more", house_path(house) %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <% else %>
    <h3>You got no houses for hosting</h3>
  <% end %>
  <%= link_to "Post a house", new_house_path %>
</div>
