  <div>
    <div class="landing-size d-flex justify-content-center">
      <%= image_tag "landing_background.jpg", class: "fill-vertical1"  %>
      <%= image_tag "landing_background2.jpg", class: "fill-vertical2"  %>
    </div>
    <div>
      <h1 class="text-center ms-5"><strong>Welcome</strong></h1>
      <h1 class="text-center ms-5"><strong>to</strong></h1>
      <h1 class="text-center ms-5"><strong>Dream Places</strong></h1>
    </div>
  </div>
