  <div class="container p-5">
    <div class="d-flex justify-content-center">
      <div class="landing-background d-flex flex-column justify-content-center align-items-center">
        <h1 class="ms-5"><strong>Welcome</strong></h1>
        <h1 class="ms-5"><strong>to</strong></h1>
        <h1 class="ms-5"><strong>Dream Places</strong></h1>
      </div>
    </div>
  </div>
