.default-button{
  background-color: #E60F05;
  color: white;
  border-radius: 1000px;
}

.lbutton{
  background-color: #054ce6;
  color: white;
  border-radius: 1000px;
}
.submit-button{
  font-weight: bold;
  text-decoration: underline;
}

.choice-button{
  background-color: #706a69;
  color: white;
  border-radius: 1000px;
}

